@import "functions";

/*
** Adds mixins
*/

@mixin aspect-ratio($width, $height) {
    position: relative;

    &:before {
        content: '';
        display: block;
        width: 100%;
        padding-top: div($height, $width) * 100%;
    }
}

@mixin hover {
    @media (hover), (min-width: 0\0) {
        &:hover {
            @content;
        }
    }
}
