* {
    box-sizing: border-box;
}

:root {
    --ui-purple-color: #9174db;
    --ui-iceberg-color: #61b5d4;
    --ui-polished-pine-color: #6da88f;
    --ui-spanish-gray-color: #93939b;
    --ui-antique-brass-color: #d79476;
    --ui-cornflower-blue-color: #6e92ef;
    --ui-white-color: #fff;
    --ui-black-color: #000;
}

body {
    font-family: 'Inter', sans-serif;
}
